antlr4-python3-runtime
argparse
colorama
cvxpy
datasets
deepspeed
fastapi
faiss-gpu
flair
Flask
func-timeout
glob2
gradio
graphq-trans
huggingface-hub
jieba
jsonlines
matplotlib
networkx
nltk
numpy
pandas
peft
pillow
ptvsd
pyodbc
pyparsing
pyserini
pytorch-transformers
pytz
PyYAML
requests
requests-toolbelt
rich
rouge-chinese
ruff
safetensors
scikit-learn
scipy
sentence-transformers
simcse
SPARQLWrapper
sse-starlette
tiktoken
timm
tokenizers
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trl
typer
tyro
urllib3
uvicorn
wandb
sympy
termcolor
