datasets==2.18.0
deepspeed==0.14.0
Flask==3.0.3
huggingface-hub==0.24.3
jieba==0.42.1
jsonlines==4.0.0
networkx==3.2.1
nltk==3.6.5
numpy==1.19.5
pandas==1.4.0
peft==0.6.0
pillow==10.2.0
ptvsd==4.3.2
pyodbc==5.1.0
pyparsing==3.1.1
pyserini==0.22.1
pytz==2023.3.post1
PyYAML==6.0
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
rouge-chinese==1.0.3
ruff==0.5.5
safetensors==0.4.2
scikit-learn==1.0.2
scipy==1.5.4
sentence-transformers==2.2.2
simcse==0.4
SPARQLWrapper==2.0.0
tiktoken==0.7.0
timm==0.9.7
tokenizers==0.13.3
tomlkit==0.12.0
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tqdm==4.62.3
transformers==4.31.0
trl==0.9.4
typer==0.12.3
tyro==0.8.5
urllib3==2.1.0
uvicorn==0.30.4
wandb==0.16.3
glob2==0.7
faiss-gpu==1.7.2
antlr4-python3-runtime==4.9.2
argparse==1.4.0
graphq-trans==0.1.0
rdflib==6.1.1
func-timeout==4.3.5
sympy==1.13.1
cvxpy==1.5.2
colorama==0.4.6
termcolor==2.4.0
flair
pytorch-transformers
sse-starlette
fastapi
matplotlib
rouge_chinese
gradio