datasets
deepspeed
Flask
huggingface-hub
jieba
jsonlines
networkx
nltk
numpy
pandas
peft
pillow
ptvsd
pyodbc
pyparsing
pytz
PyYAML
requests
requests-toolbelt
rich
rouge-chinese
ruff
safetensors
scikit-learn
scipy
sentence-transformers
SPARQLWrapper
tiktoken
timm
tomlkit
torch
torchaudio
torchvision
tqdm
transformers
trl
typer
tyro
urllib3
uvicorn
wandb
glob2
faiss-gpu
antlr4-python3-runtime
argparse
graphq-trans
rdflib
func-timeout
sympy
cvxpy
colorama
termcolor
sse-starlette
fastapi
matplotlib
rouge_chinese
gradio

